//Typography
$headingFontFamily: 'Roboto', sans-serif;
$contentFontFamily: 'Roboto', sans-serif;

// Transition
$view-transition-stack-stable:  5;
$view-transition-stack-top:    20;
$view-transition-stack-bottom: 10;

