@import "../../node_modules/material-ui-sass/material-ui";

$startColor:  #cf9e75;
$stopColor:   #d2dcd1;

html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: $stopColor; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $startColor 0%, $stopColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $startColor), color-stop(100%, $stopColor)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, $startColor 0%,$stopColor 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, $startColor 0%,$stopColor 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, $startColor 0%,$stopColor 100%); /* IE10+ */
  background: linear-gradient(135deg, $startColor 0%, $stopColor 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$startColor', endColorstr='$stopColor',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#root {
  margin: 20px;
}
