@import "../../node_modules/material-ui-sass/material-ui";
@import 'variables';
@import 'mui_tabs';
@import 'fullpage';

$startColor: #cf9e75;
$stopColor: #d2dcd1;
$asideWidth: 150px;
$hlGreen: #51ad6f;
$gap: 20px;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $stopColor; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $startColor 0%, $stopColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $startColor), color-stop(100%, $stopColor)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, $startColor 0%,$stopColor 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, $startColor 0%,$stopColor 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, $startColor 0%,$stopColor 100%); /* IE10+ */
  background: linear-gradient(135deg, $startColor 0%, $stopColor 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$startColor', endColorstr='$stopColor',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#root {
  margin: 20px;
}

#cello {
  width: 1000px;
  height: 618px;
  margin: 60px auto;
  padding: 30px;
  overflow: auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
  opacity: .8;
  background-color: #fff;
}

aside {
  float: left;
  width: $asideWidth;
  a {
    font-size: 24px;
    color: #666;
    text-decoration: none;
  }
  a:hover {
    color: #999;
  }
}

article {
  margin-left: $asideWidth + 20;
  overflow:hidden;
}

ul {
  list-style: none;
}

.insight-card {
  padding: $gap;
  border-bottom: 1px solid #eee;

  &:hover {
    background-color: #efefef;
    cursor: pointer;
  }

  > .hd {
    width: 80px;
    float: left;
    margin-right: $gap;
  }

  > .bd {
    overflow: hidden;
  }

  .title {
    font-size: 18px;
    line-height: 1.4em;
    color: $hlGreen;
    margin-top: 5px;
  }
}

.meta {
  font-size: 12px;
  color: #aaa;
  text-transform: uppercase;
}

.score-card {
  padding: 5px;
  text-align: center;
  line-height: 45px;
}

.score-circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid $hlGreen;
  border-radius: 50%;
  overflow: hidden;
  color: #666;
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
}

.endpoint-card {
  margin-bottom: $gap;
  cursor: pointer;
  &.on .meta{
    color: #333;
  }
}

.insight-panel {
  h1 {
    font-size: 18px;
    color: $hlGreen;
    border-bottom: 1px solid #eee;
    padding-bottom: $gap;
  }
  > .bd {
    margin: $gap 0;
  }

  .score-circle {
    margin-right: $gap;
  }
  .endpoint-list {
    width: 200px;
    float: left;
  }
  .endpoint-panel {
    overflow: hidden;
  }
}
.rule-list > .bd {
  padding: $gap 0;
}
.rule-card {
  margin-bottom: $gap;
  > .hd {
    margin-bottom: 5px;
  }
  > .bd {
    font-size: 13px;
    color: #666;
  }

  a { color: cadetblue; }
  a:hover { text-decoration: none; }
  b {
    margin: 0 2px;
    color: cadetblue;
    font-size: 14px;
    font-style: italic;
  }

  .mui-icon {
    font-size: 14px;
    margin-right: 5px;
  }
  .mdfi_action_done {
    color: $hlGreen;
  }
  .mdfi_action_info_outline.state-critical {
    color: #d9534f;
  }
  .mdfi_action_info_outline.state-warning {
    color: #f0ad4e;
  }
}
.rule-score {
  width: 100px;
  margin-right: 10px;
}

.url-block-list {
  list-style: circle;
  padding-left: $gap;
  margin-top: $gap;
  > li {
    margin-bottom: $gap;
  }
}

.url-list {
  margin: 5px 0;
  &.state-collapsed li {
    display: none;
  }
  &.state-collapsed li:nth-child(-n+5) {
    display: block;
  }

  li {
    display: block;
  } 
  .link-toggle {
    display: block;
    margin-top: 5px;
    text-decoration: none;
  }
}
